@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
.dark01{
    color: #131313;
}
.dark02 {
    color: #424242;
}

.dark03 {
    color: #727272;
}

.btn-orange {
    background-color: #FF900E;
}

header {
    /* background-color: rgba(255, 192, 203, 0.568); */
    background-color: rgba(255, 144, 14, 0.1);
    /* height: 40vh;
    width: 100%; */
}

.size {
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid blue; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
}

nav,
.banner {
    max-width: 1440px;
    margin: 0px auto;
    margin-bottom: 50px;
}

/* banner  style  */
.banner {
    /* border:2px solid black; */
    max-width: 850px;
    text-align: center;
    margin: 10px auto;
}

.heading {
    font-size: 3.3rem;
    font-weight: 700;
}

.description {
    margin: 15px auto;
}

.btn {
    padding: 10px;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    margin: 10px;
    border: 1px solid #FF900E;
}

.banner-img {
    width: 94%;
    text-align: center;
}

/* section style start  */
section {
    margin-top: 130px;
}
.fetures{
    max-width: 850px;
    margin: 0 auto;
}

.team-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.teams {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin-left: 3px;

}

.team-content {
    /* border: 2px solid black; */
    text-align: left;
    width: 33%;
    margin-left: 3%;
}

.content-title {
    font-size: 2.6rem;
}

.content-title>.lighter {
    font-weight: 500;
}

.content-title>.white {
    color: #FF900E;
}

.content-desc {
    font-size: 1rem;
    padding: 10px 0;
}

/* popularity style  */
.popularity{
    display: flex;
    justify-content: space-between;
    gap: 12%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20vh;
}
.section-text{
    margin-top: 10vh;
}


.feture-box{
  
    box-shadow: 3px 3px 4px 1px rgb(0 0 0 / 17%);
    margin-bottom: 3.5vh;
    margin-left: 3vh;
    border-radius: 8px;
    padding: 30px 42xp 30px 30px;
    max-width: 35vw;
    border: 2px solid black;
}

#style{
    border-left: 5px solid #FF900E;

}.sec-title{
   
    font-weight: 600;
    font-size: 2.6rem;
    margin-left: 20px;

}
.sec-des{
    margin: 20px;

}
/* .feture-flex{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
    gap: 10px;
} */
.f-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 20px;
}
.f-des{
    margin: 15px 19px ;
font-size: 1rem;
}

.btn-img{
background-color:#FF900E;
border: 0px;
color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:45px 42px;
    border-radius: 8px;
    margin: -110px 0 0 -100px;
    position: relative;
    z-index:5;
}
.big{
    font-size: 4rem;
    font-weight: 500;
}
.small{
    font-size: 1.2rem;
}

.some-facts{
    /* border: 2px solid red; */
    max-width: 1040px;
    margin: 50px auto;
    padding-top: 20px;
}
.fact-text{
    border: 2px solid black;
}
.fact-title{
    font-size: 2.5rem;
    width: 57%;
    /* text-align: center; */
}
.fact-des{
    /* border: 2px solid black; */
    width: 57%;
    font-size: 1rem;
    margin: 7px 0 55px;
    /* text-align: center; */
}

/* fact style  */
.facts-container{
display: grid;
grid-template-columns: repeat(4,1fr);
width: auto;
/* gap: 5px; */
/* margin: 10px 0px 5px 65px; */
}
.fact{
    border: 1px solid #FF900E;
    width:12rem;
    height: 10rem;
    text-align: center;
    border-radius: 8px;
    margin-top: 2rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: 12px 20px 5px;
}
.fact-no{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 2px 0 10px;
}
.fact-name{
    font-size: 1rem;
    font-weight: 600;
}

/* spnsor style  */
.sponsor-info{
    max-width: 1053px;
    /* border: 2px solid red; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7rem;
}
.texts {
    /* border: 2px solid black; */
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.sponsor-title{
    margin: 5px 0 5px;
    font-size: 2.3rem;
}
.sponsor-des{
    font-size: 1rem;
}

.brands{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top:5px ;
    /* border: 1px solid blue; */
    justify-content: center;
    align-items: center;
    width: auto;
}
.brand-img{
    filter: grayscale(100%);
    width: 12rem;
    width: auto;
}
/* footer style  */
footer{
    margin: 10px;
}
.color{
    background-color: #FFF4E7;
    width: 100%;
    height: auto;
}
.foot{
    text-align: center;
    padding: 17px;
}



































































/* Mobile style  */

/* responsive media  */
@media screen and (max-width:536px) {

    nav,
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand {
        font-size: 1.8rem;
        padding: 13px;
    }

    .heading {
        font-size: 1.8rem;
    }

    /* responsive sections */
    .teams {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        width: auto;
        margin: 5px;
        text-align: center;
    }

    .team-details{
        flex-direction: column;
    }
/* responsive pro  */

.popularity {
    flex-direction: column;
}
.sec-title {
    text-align: center;
}
.feture-box {
        max-width: 100vw;
        text-align: center;
}

.sister{
    width: 100%;
    margin-top: 8vh;
}
.btn-img {
    padding: 2px;
    margin: 20px auto;
}
.big {
    font-size: 2rem;
    padding: 10px;
}

.small {
    padding: 0 0 10px;
}


    /* responsive fact  */
    .some-facts{
        text-align: center;
       width: auto;
       text-align: center;
    }
    .fact-des{
        text-align: center;
        width: auto;
    }
    .fact-title{
        text-align: center;
        width: auto;
    }
    .facts-container {
        grid-template-columns: 1fr;
        gap: 5px;
    }
    .fact {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}
    .brands{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .brand-img{
            margin: 0 auto;
        }
    .foot{
        padding:5px;
    }
    .sponsor-info{
        margin-bottom: 2rem;
    }
}







/* Tablet style  */

@media screen and (min-width:537px) and (max-width:1024px) {
    .brand {
        font-size: 1.4rem;
        /* color: blue; */
    }

    .menu {
        gap: 1rem;
    }

    /* responsive sections */
    .team-content {
        width: auto;
    }

    .team-details {
        justify-content: center;
        flex-direction: column;
    }
    /* responsive pro  */
    .popularity {
        flex-direction: column;
    }
    .sec-title {
        text-align: center;
    }
    .feture-box {
            max-width: 100vw;
            text-align: center;
    }
    
    .sister{
        width: 100%;
        margin-top: 8vh;
    }
    .btn-img {
        padding: 2px;
        margin: 20px auto;
    }
    .big {
        font-size: 2rem;
        padding: 10px;
    }
    
    .small {
        padding: 0 0 10px;
    }


    /* responsive facts */
    
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        /* justify-content: center; */
        margin: 3rem 4rem 2rem 4rem;
    }
    .brands{
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
        margin: 4rem 4rem 6rem 6rem;
    }
    .some-facts{
        text-align: center;
       width: auto;
       text-align: center;
    }
    .fact-des{
        text-align: center;
        width: auto;
    }
    .fact-title{
        text-align: center;
        width: auto;
    }
    .sponsor-info{
        margin-bottom: 5rem;
    }

}